* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container {
  margin-top: 300px;
}
h2 {
  font-size: 48px;
  margin-left: 40px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.div1 {
  display: flex;
  justify-content: center;
}
.search {
  height: 70px;
  width: 95%;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px;
  color: white;
}
.search::placeholder {
  font-size: 32px;
}
.button {
  height: 70px;
  width: 600px;
  font-size: 38px;
  margin: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.div2 {
  display: flex;
  justify-content: center;
}

.profile {
  height: 80px;
  width: 80px;
  margin-right: 40px;
}
.hidden {
  display: none;
}
.behind {
  background-color: beige;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: -600px;
}
.flex1 {
  display: flex;
  justify-content: space-between;
}
.search2 {
  margin: 40px;
  height: 70px;
  width: 95%;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px;
  font-size: 32px;
}
.search2::placeholder {
  font-size: 32px;
}
.close {
  font-size: 60px;
  margin: 40px;
  cursor: pointer;
}
.hide {
  display: none;
}

.profilepage {
  position: absolute;
  height: 600px;
  width: 300px;
  background-color: gray;
  border-radius: 10px;
  margin-left: 1550px;
  margin-top: -500px;
}
.flex2 {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 200px 200px;
}
.profile1 {
  margin: 20px 110px;
  padding: 10px;
}
.top {
  grid-row: 1/2;
}
.bottom {
  margin-top: 80px;
  grid-row: 3/4;
}
.logout {
  margin: 20px;
  color: red;
  cursor: pointer;
}
.about {
  font-size: 24px;
  margin-left: 30px;
}
.line {
  border-bottom: 3px black solid;
  margin-top: 10px;
}
