* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 60px;
}
.email {
  height: 50px;
  width: 400px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 24px;
  margin-bottom: 20px;
}
.email::placeholder {
  font-size: 24px;
}
.password {
  height: 50px;
  width: 400px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 24px;
  margin-bottom: 20px;
}
.password::placeholder {
  font-size: 24px;
}
.login {
  font-size: 24px;
  height: 50px;
  width: 300px;
  margin: 10px;
}
.horizentalrule {
  border-left: 3px solid black;
  height: 750px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 120px;
}
p {
  font-size: 24px;
}
.div2 {
  position: absolute;
  margin-left: 200px;
}
.signuplink {
  font-size: 30px;
}
.div1 {
  position: absolute;
  margin-left: 300px;
  margin-top: 300px;
}
.img {
  height: 50px;
  width: 50px;
  align-self: center;
  justify-self: center;
}
.button {
  height: 100px;
  width: 300px;
  font-size: 50px;
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}
.other-option {
  position: absolute;
  margin-left: 1200px;
  margin-top: 250px;
}
