* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h2 {
  font-size: 60px;
  margin-bottom: 100px;
}
body {
  display: grid;
  justify-items: center;
}
.all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
}
.div1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.email,
.password {
  height: 50px;
  width: 500px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 24px;
  margin-bottom: 20px;
}
.email::placeholder,
.password::placeholder {
  font-size: 24px;
}

.login {
  font-size: 24px;
  height: 50px;
  width: 500px;
  margin: 10px;
  padding: 10px;
}
.horizentalrule {
  border-left: 3px solid black;
  height: 750px;

  left: 50%;

  top: 120px;
}
p {
  font-size: 24px;
}

.signuplink {
  font-size: 30px;
}

.img {
  height: 50px;
  width: 50px;
  align-self: center;
  justify-self: center;
}
.button {
  height: 100px;
  width: 500px;
  font-size: 50px;
  margin-bottom: 20px;
}
